<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="Q" value="{q00,q01,q02,q03,q04,q05,q06,q07,q08,q09,q10,q11,q12,q13,q14,q15,qF}"/>
        <add key="E" value="{0,1,B}"/>
        <add key="T" value="{0,1,B}"/>
        <!--
Algorithmus:
q00,q01	        Load first number into T1, T4
q02,q08,q09,q10    Subtract 1 from T1, T2

q04		        Shift T" right one bit, if condition is not set, jump to q05
q06              Add T3 into T4
q05              If T2 is "B", jump to q11
                Shift T3 left one bit, jump to q04
qF              Store T4 as answer
q11             Clear T3
q03              Move T1, T2 to beginning
q07              Move T2, T3 to beginning
-->
        <add key="Fn" value="
{(q00, 0BBBB) = (q00, BBBBB, RNNNN)
,(q00, 1BBBB) = (q01, 1B1BB, RNRNN)

,(q01, 1BBBB) = (q01, 1B1BB, RNRNN)
,(q01, 0BBBB) = (q01, 0B0BB, RNRNN)
,(q01, BBBBB) = (q12, BBBBB, NNNNN)

,(q02, 0BBBB) = (q08, 11BB1, LLNNN)
,(q02, 1BBBB) = (q10, 00BBB, LLNNN)
,(q02, BBBBB) = (qF, BBBBB, NNNNN)

,(q03, 00BBB) = (q03, 00BBB, RRNNN)
,(q03, 01BBB) = (q03, 01BBB, RRNNN)
,(q03, 11BBB) = (q03, 11BBB, RRNNN)
,(q03, 10BBB) = (q03, 10BBB, RRNNN)
,(q03, 0BBBB) = (q03, 0BBBB, RNNNN)
,(q03, 1BBBB) = (q03, 1BBBB, RNNNN)
,(q03, B0BBB) = (q03, B0BBB, NRNNN)
,(q03, B1BBB) = (q03, B1BBB, NRNNN)
,(q03, BBBBB) = (q04, BBBBB, NLNNN)

,(q04, B1BBB) = (q15, BBBBB, NLNLN)
,(q04, B0BBB) = (q05, BBBBB, NLNNN)

,(q15, BBB0B) = (q06, BBB0B, NNLNN)
,(q15, BBB1B) = (q06, BBB1B, NNLNN)
,(q15, B0BBB) = (q06, B0BBB, NRLNN)
,(q15, B1BBB) = (q06, B1BBB, NRLNN)
,(q15, B0B0B) = (q06, B0B0B, NRLNN)
,(q15, B1B0B) = (q06, B1B0B, NRLNN)
,(q15, B0B1B) = (q06, B0B1B, NRLNN)
,(q15, B1B1B) = (q06, B1B1B, NRLNN)
,(q15, BBBBB) = (q02, BBBBB, LNNNN)

,(q05, BBBBB) = (q11, BBBBB, NNLLN)

,(q05, B0BBB) = (q04, B00BB, NNRNN)
,(q05, B1BBB) = (q04, B10BB, NNRNN)

,(q06, BB0BB) = (q06, BB00B, NNLLN)
,(q06, BB00B) = (q06, BB00B, NNLLN)
,(q06, BB1BB) = (q06, BB11B, NNLLN)
,(q06, BB11B) = (q06, BB101, NNLLN)
,(q06, BB10B) = (q06, BB11B, NNLLN)
,(q06, BB01B) = (q06, BB01B, NNLLN)
,(q06, BB0B1) = (q06, BB01B, NNLLN)
,(q06, BB1B1) = (q06, BB101, NNLLN)
,(q06, BB001) = (q06, BB01B, NNLLN)
,(q06, BB011) = (q06, BB001, NNLLN)
,(q06, BB111) = (q06, BB111, NNLLN)
,(q06, BB101) = (q06, BB101, NNLLN)
,(q06, BBBB1) = (q06, BBB1B, NNNLN)
,(q06, BBBBB) = (q13, BBBBB, NLNNN)

,(q13, B0BBB) = (q07, B0BBB, NRRRN)
,(q13, B1BBB) = (q07, B1BBB, NRRRN)
,(q13, BBBBB) = (q14, BBBBB, NNRRN)

,(q14, BB00B) = (q14, BB0BB, NNRRN)
,(q14, BB01B) = (q14, BB1BB, NNRRN)
,(q14, BBB0B) = (q14, BB0BB, NNRRN)
,(q14, BBB1B) = (q14, BB1BB, NNRRN)
,(q14, BB11B) = (q14, BB1BB, NNRRN)
,(q14, BB10B) = (q14, BB0BB, NNRRN)
,(q14, BBBBB) = (q02, BBBBB, LNNNN)

,(q07, BB00B) = (q07, BB00B, NNRRN)
,(q07, BB01B) = (q07, BB01B, NNRRN)
,(q07, BB11B) = (q07, BB11B, NNRRN)
,(q07, BB10B) = (q07, BB10B, NNRRN)
,(q07, BB0BB) = (q07, BB0BB, NNRNN)
,(q07, BB1BB) = (q07, BB1BB, NNRNN)
,(q07, BBB0B) = (q07, BBB0B, NNNRN)
,(q07, BBB1B) = (q07, BBB1B, NNNRN)
,(q07, BBBBB) = (q05, BBBBB, NLNNN)

,(q08, 0BBB1) = (q08, 11BB1, LLNNN)
,(q08, 1BBB1) = (q08, 00BBB, LLNNN)
,(q08, 0BBBB) = (q08, 00BBB, LLNNN)
,(q08, 1BBBB) = (q08, 11BBB, LLNNN)
,(q08, BBBBB) = (q09, BBBBB, RRNNN)

,(q09, 00BBB) = (q09, BBBBB, RRNNN)
,(q09, 11BBB) = (q03, 11BBB, RRNNN)
,(q09, BBBBB) = (qF, BBBBB, NNNNN)

,(q10, 0BBBB) = (q10, 00BBB, LLNNN)
,(q10, 1BBBB) = (q10, 11BBB, LLNNN)
,(q10, BBBBB) = (q09, BBBBB, RRNNN)

,(q11, BB00B) = (q11, BB0BB, NNLLN)
,(q11, BB01B) = (q11, BB1BB, NNLLN)
,(q11, BBB0B) = (q11, BB0BB, NNLLN)
,(q11, BBB1B) = (q11, BB1BB, NNLLN)
,(q11, BB11B) = (q11, BB1BB, NNLLN)
,(q11, BB10B) = (q11, BB0BB, NNLLN)
,(q11, BBBBB) = (q12, BBBBB, NNRNN)

,(q12, BB0BB) = (q12, BB0BB, NNRNN)
,(q12, BB1BB) = (q12, BB1BB, NNRNN)
,(q12, BBBBB) = (q02, BBBBB, LNNNN)
}
             "/>

        <add key="S" value="q00"/>
        <add key="F" value="{qF}"/>

        <add key="OutputTape" value="3"/>
        <add key="VisibleBandSize" value="31"/>
    </appSettings>
</configuration>
